.App {
  text-align: center;
  font-family: "Montserrat";
  padding: 10px;
}



.completed-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}





h1 {
  font-family: "Montserrat";
  font-weight: 900;

}




/*Media queries*/
@media only screen and (max-width: 1000px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 800px) {
  body {
    background-color:#DBF1FF;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #BFD1FD;
  }
}

@media only screen and (max-width: 400px) {
  body {
    background-color: grey;
  }
}

@media only screen and (max-width: 200px) {
  body {
    background-color: yellow;
  }
}