/* .task-item__text{
    color: darkblue;
} */
.btn__delete{
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    background-color: red;
    color: white;
    
}

.btn__edit {
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    background-color: grey;
    color: white;
}
.btn__reminder {
    float: right;
    border: 1px solid white;
    border-radius: 5px;
    background-color: orange;
    color: white;

}
.task__date{
    float: right;
    border: none;

}


.card{
    
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    margin: 10px; 
}

.task--complete  {
    text-decoration: line-through;
}

.task--complete .task__date{
    text-decoration: line-through;
   display: none;
}

.text_box{
    border: none;
    
}